.neutral {
--clr1:hsl(  0,   0%, 100%);
--clr4:hsl(200, 100%,  98%);
--clr5:hsl(200, 100%,  97%);
--clr6:hsl(200,  92%,  90%);
--clr7:hsl(200,  89%,  74%);
--clr8:hsl(200, 100%,  47%);
--clr0:hsl(200, 100%,  35%);
--clr2:hsl(  0,   0%,  20%);
--clr3:hsl(  0,   0%,   0%);
--clr9:hsl(  0,   0%,   0%);
--clra:hsl(200,   0%,  90%);
--oddc:hsl(200,  92%,  90%);
--evnc:hsl(200, 100%,  97%);
}
@media (prefers-color-scheme:dark) {
.neutral {
--clr1:hsl(  0,   0%,   0%);
--clr4:hsl(200, 100%,   6%);
--clr5:hsl(200, 100%,  12%);
--clr6:hsl(200, 100%,  24%);
--clr7:hsl(200, 100%,  35%);
--clr8:hsl(200, 100%,  47%);
--clr0:hsl(200, 100%,  24%);
--clr2:hsl(  0,   0%,  60%);
--clr3:hsl(  0,   0%,  80%);
--clr9:hsl(  0,   0%, 100%);
--clra:hsl(200,   0%,  35%);
--oddc:hsl(200, 100%,  24%);
--evnc:hsl(200, 100%,  12%);
}
}
.light {
--clr1:hsl(  0,   0%, 100%);
--clr4:hsl(200, 100%,  98%);
--clr5:hsl(200, 100%,  97%);
--clr6:hsl(200,  92%,  90%);
--clr7:hsl(200,  89%,  74%);
--clr8:hsl(200, 100%,  47%);
--clr0:hsl(200, 100%,  35%);
--clr2:hsl(  0,   0%,  20%);
--clr3:hsl(  0,   0%,   0%);
--clr9:hsl(  0,   0%,   0%);
--clra:hsl(200,   0%,  90%);
--oddc:hsl(200,  92%,  90%);
--evnc:hsl(200, 100%,  97%);
}
.dark {
--clr1:hsl(  0,   0%,   0%);
--clr4:hsl(200, 100%,   6%);
--clr5:hsl(200, 100%,  12%);
--clr6:hsl(200, 100%,  24%);
--clr7:hsl(200, 100%,  35%);
--clr8:hsl(200, 100%,  47%);
--clr0:hsl(200, 100%,  24%);
--clr2:hsl(  0,   0%,  60%);
--clr3:hsl(  0,   0%,  80%);
--clr9:hsl(  0,   0%, 100%);
--clra:hsl(200,   0%,  35%);
--oddc:hsl(200, 100%,  24%);
--evnc:hsl(200, 100%,  12%);
}
