html{
-webkit-text-size-adjust:100%;
-moz-text-size-adjust:100%;
-ms-text-size-adjust:100%;
font-size:20px;
}
body{
font-family:"Noto Sans TC","Noto Emoji",Helvetica, Arial, sans-serif;
margin:0;
padding:0rem 1rem;
height:100vh;
}

:root {
--clr1:hsl(  0,   0%, 100%);
--clr2:hsl(200, 100%,  97%);
--clr3:hsl(200,  92%,  90%);
--clr4:hsl(200,  90%,  74%);
--clr5:hsl(200, 100%,  47%);
--bldc:hsl(  0,   0%,   0%);
--text:hsl(  0,   0%,   0%);
--ahrf:hsl(  0,   0%,  20%);
--oddc:hsl(230,  92%,  90%);
--evnc:hsl(230, 100%,  97%);
color:var(--text);
background-color:var(--clr1);
}
@media (prefers-color-scheme:dark) {
:root {
--clr1:hsl(  0,   0%,   0%);
--clr2:hsl(200, 100%,  12%);
--clr3:hsl(200, 100%,  24%);
--clr4:hsl(200, 100%,  35%);
--clr5:hsl(200, 100%,  47%);
--bldc:hsl(  0,   0%, 100%);
--text:hsl(  0,   0%,  80%);
--ahrf:hsl(  0,   0%,  60%);
--oddc:hsl(230, 100%,  24%);
--evnc:hsl(232, 100%,  12%);
color:var(--text);
background-color:var(--clr1);
}
}

a{
white-space:nowrap;
text-underline-position:under;
color:var(--ahrf);
}
a.tagBorder{padding:0.25rem 0.5rem;}
.activeBtn{
margin:0 0.25rem;
color:var(--clr1);
}
audio{width:100%;}
.buttonDiv{white-space:nowrap;}
.centerise{
max-width:850px;
margin:0 auto;
display:grid;
/* grid-template-rows:min-content min-content 1fr min-content; */
gap:0.25rem;
height:98vh;
}
.container{overflow:auto;}
.entry{
border-radius:0.25rem;
margin:0.125rem 0;
padding:0.25rem;
width:100%;
}
.entry:nth-of-type(odd){
background-color:var(--clr3);
border:0.125rem solid var(--clr3);
}
.entry:nth-of-type(even){
background-color:var(--clr2);
border:0.125rem solid var(--clr2);
}
.entry:hover{
font-weight:700;
border:0.125rem solid var(--bldc);
}
h1{
font-size:1.25rem;
margin:0.3rem 0;
}
.hideBtn{
margin:0 0.25rem;
color:var(--clr4);
}
.hideBtn.tagBorder{padding:0.25rem 0.5rem;}
.indexBar{
padding:0.5625rem 0;
white-space:nowrap;
}
.indexSection{
background-color:var(--clr3);
border:0.125rem solid var(--clr3);
border-radius:0.25rem;
margin:0.125rem 0;
padding:0.25rem;
height:min-content;
width:fit-content;
}
.linkDecor{text-decoration:none;}
p{
margin:0;
padding:0.375rem 0;
}
.plain{
width:min-content;
min-width:95%;
}
.playerbar{
display:grid;
grid-template-columns:min-content 1fr;
gap:0.25rem;
margin:0.25rem 0 0 0;
}
.popPiP{
background-size:contain;
border-radius:0.5rem;
}
.selected.entry:nth-of-type(odd){
background-color:var(--oddc);
}
.selected.entry:nth-of-type(even){
background-color:var(--evnc);
}
.tagBar{padding:0.375rem 0;}
.tagBorder{
background-color:var(--clr5);
border:0.125rem solid var(--clr5);
border-radius:0.25rem;
padding:0.25rem;
margin:0 0.25rem;
font-weight:400;
}
.tagBorder:hover{
border:0.125rem solid var(--bldc);
}
.tagContent{
white-space:nowrap;
height:min-content;
overflow:auto;
}
.tagIndex{
white-space:nowrap;
overflow:auto;
}
.tittlebar{margin:0 0 0.25rem 0;}
