html{
-webkit-text-size-adjust:100%;
-moz-text-size-adjust:100%;
-ms-text-size-adjust:100%;
font-size:20px;
}
body{
overscroll-behavior:contain;
font-family:"Noto Sans TC","Noto Emoji",Helvetica, Arial, sans-serif;
margin:0;
padding:0rem 1rem;
}

.neutral {
--clr1:hsl(  0,   0%, 100%);
--clr4:hsl(198, 100%,  98%);
--clr5:hsl(200, 100%,  97%);
--clr6:hsl(200,  92%,  90%);
--clr7:hsl(200,  89%,  74%);
--clr8:hsl(200, 100%,  47%);
--clr0:hsl(200, 100%,  35%);
--clr2:hsl(  0,   0%,  20%);
--clr3:hsl(  0,   0%,   0%);
--clr9:hsl(  0,   0%,   0%);
--oddc:hsl(230,  92%,  90%);
--evnc:hsl(232, 100%,  97%);
}
@media (prefers-color-scheme:dark) {
.neutral {
--clr1:hsl(  0,   0%,   0%);
--clr4:hsl(201, 100%,   6%);
--clr5:hsl(200, 100%,  12%);
--clr6:hsl(200, 100%,  24%);
--clr7:hsl(200, 100%,  35%);
--clr8:hsl(200, 100%,  47%);
--clr0:hsl(200, 100%,  24%);
--clr2:hsl(  0,   0%,  60%);
--clr3:hsl(  0,   0%,  80%);
--clr9:hsl(  0,   0%, 100%);
--oddc:hsl(230, 100%,  24%);
--evnc:hsl(232, 100%,  12%);
}
}
.light {
--clr1:hsl(  0,   0%, 100%);
--clr4:hsl(198, 100%,  98%);
--clr5:hsl(200, 100%,  97%);
--clr6:hsl(200,  92%,  90%);
--clr7:hsl(200,  89%,  74%);
--clr8:hsl(200, 100%,  47%);
--clr0:hsl(200, 100%,  35%);
--clr2:hsl(  0,   0%,  20%);
--clr3:hsl(  0,   0%,   0%);
--clr9:hsl(  0,   0%,   0%);
--oddc:hsl(230,  92%,  90%);
--evnc:hsl(232, 100%,  97%);
}
.dark {
--clr1:hsl(  0,   0%,   0%);
--clr4:hsl(201, 100%,   6%);
--clr5:hsl(200, 100%,  12%);
--clr6:hsl(200, 100%,  24%);
--clr7:hsl(200, 100%,  35%);
--clr8:hsl(200, 100%,  47%);
--clr0:hsl(200, 100%,  24%);
--clr2:hsl(  0,   0%,  60%);
--clr3:hsl(  0,   0%,  80%);
--clr9:hsl(  0,   0%, 100%);
--oddc:hsl(230, 100%,  24%);
--evnc:hsl(232, 100%,  12%);
}
.lowContrast {
color:var(--text);
background-color:var(--rtbg);
--high:var(--clr9);
--rtbg:var(--clr1);
--text:var(--clr3);
--ixbg:var(--clr6);
--ixbr:var(--clr6);
--ctbg:var(--clr4);
--ctbr:var(--clr4);
--plbg:var(--clr4);
--plbr:var(--clr4);
--ppbr:var(--clr4);
--odbg:var(--clr6);
--odbr:var(--clr6);
--evbg:var(--clr5);
--evbr:var(--clr5);
--bnbg:var(--clr8);
--bnbr:var(--clr8);
--atxt:var(--clr1);
--ahrf:var(--clr3);
--htxt:var(--clr7);
}
.highContrast {
color:var(--text);
background-color:var(--rtbg);
--high:var(--clr9);
--rtbg:var(--clr1);
--text:var(--clr3);
--ixbg:var(--clr6);
--ixbr:var(--clr3);
--ctbg:var(--clr4);
--ctbr:var(--clr3);
--plbg:var(--clr4);
--plbr:var(--clr4);
--ppbr:var(--clr3);
--odbg:var(--clr6);
--odbr:var(--clr3);
--evbg:var(--clr5);
--evbr:var(--clr3);
--bnbg:var(--clr4);
--bnbr:var(--clr3);
--atxt:var(--clr3);
--ahrf:var(--clr3);
--htxt:var(--clr0);
}

a{
text-underline-position:under;
color:var(--ahrf);
}
a.tagBorder{padding:.25rem .5rem;}
.activeBtn{
margin:0 .25rem;
color:var(--atxt);
}
.detailTag{
margin:0 .25rem;
white-space:nowrap;
}
audio{
width:100%;
height:min-content;
}
.buttonDiv{padding:.4rem 0 .5rem 0;}
.buttonBar{
white-space:nowrap;
padding:1rem .25rem;
}
.centerise{
max-width:850px;
margin:calc(1rem + env(safe-area-inset-top)) auto calc(1rem + env(safe-area-inset-bottom)) auto;
display:grid;
gap:.25rem;
height:calc(100vh - 2rem - env(safe-area-inset-top) - env(safe-area-inset-bottom));
white-space:nowrap;
}
.container{
overflow:auto;
background-color:var(--ctbg);
border:solid var(--ctbr);
border-radius:0.25rem;
visibility:visible;
}
.morePage{
overflow:auto;
background-color:var(--ctbg);
border:solid var(--ctbr);
border-radius:0.25rem;
padding:1rem;
visibility:hidden;
}
.entry{
border-radius:.25rem;
margin:.125rem;
padding:.25rem;
width:100%;
}
.entryDetail{
border-radius:.25rem;
margin:.5rem;
padding:.25rem;
background-color:var(--evbg);
border:solid var(--evbr);
min-width: min-content;
white-space: normal;
}
.entryDetailMove{
padding-left:.5rem;
}
.extraLink {
white-space: normal;
/* white-space: nowrap;
width: 98%;
overflow: hidden; */
}
.entry:nth-of-type(odd){
background-color:var(--odbg);
border:solid var(--odbr);
}
.entry:nth-of-type(even){
background-color:var(--evbg);
border:solid var(--evbr);
}
.entry:hover{
font-weight:700;
border:solid var(--high);
}
h1{
font-size:1.25rem;
margin:.3rem 0;
}
h3{
margin:.5rem;
}
.hideBtn{
margin:0 .25rem;
color:var(--htxt);
}
.hideBtn.tagBorder{padding:.25rem .5rem;}
.indexBar{padding:.5625rem 0;}
.indexSection{
margin:.125rem 0;
padding:.25rem;
height:min-content;
width:fit-content;
}
.linkDecor{text-decoration:none;}
.mirror{
font-family:"Noto Emoji";
display:inline-block;
transform:matrix(-1, 0, 0, 1, 0, 0);
}
p{
margin:0;
padding:.3rem .25rem .6rem 0;
}
.plain{
width:min-content;
min-width:95%;
}
.playerbar{
display:grid;
grid-template-columns:minmax(10vh,100px) 1fr;
gap:1rem;
margin:.25rem 0 0 0;
padding:0;
background-color:var(--plbg);
border:solid var(--plbr);
border-radius:.25rem;
}
.popPiP{
background-image:url("/r/512.png");
background-size:contain;
min-height:100px;
min-width:100px;
height:10vh;
width:10vh;
border:solid var(--ppbr);
border-radius:.5rem;
}
.selected.entry:nth-of-type(odd){
background-color:var(--oddc);
}
.selected.entry:nth-of-type(even){
background-color:var(--evnc);
}
.playInfoSec{
display:grid;
grid-template-rows: min-content min-content;
grid-template-columns: 1fr;
gap:0.5rem;
}
@media (max-height:400px) {
.playerbar{
border:solid var(--ctbr);
position: fixed;
padding: .5rem;
bottom: .25rem;
right: .25rem;
}
.playInfoSec{
width: min-content;
}
}
.tagBar{padding:.375rem 0;}
.tagBorder{
background-color:var(--bnbg);
border:solid var(--bnbr);
border-radius:.25rem;
padding:.25rem;
margin:0 .25rem 0 0;
font-weight:400;
}
.tagBorder:hover{border:solid var(--high);}
.tagContent{
height:min-content;
overflow-x:auto;
overflow-y:hidden;
}
.tagBtn{
display:none;
visibility:hidden;
}
.tagList{
display:inline;
visibility:visible;
}
@media (max-width:400px) {
.tagBtn{
display:inline;
visibility:visible;
}
.tagList{
display:none;
visibility:hidden;
}
.entry{width:17rem;}
}
.funcContent{height:min-content;}
.tagIndex{
overflow:auto;
background-color:var(--ixbg);
border:solid var(--ixbr);
border-radius:.25rem;
visibility:hidden;
}
.titletrack{overflow:hidden;}
.tittlebar{
margin:0 0 .25rem 0;
overflow-x:auto;
overflow-y:hidden;
white-space:nowrap;
}
/* .title a {text-decoration:none;} */
.controlBar {
display:grid;
grid-template-columns:min-content 1fr min-content;
gap:0.5rem;
align-content:center;
}
.seeker{
display:grid;
grid-template-rows:1fr min-content;
grid-template-columns:1fr;
gap:.5rem;
}
@media (min-aspect-ratio: 1/1) and (min-height:401px) {
.seeker{
    grid-template-rows:1fr;
    grid-template-columns:1fr min-content;
}
}
