html {
-webkit-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
font-size:18px;
}
.centerise {
max-width: 850px;
margin: 0 auto;
display: grid;
grid-template-rows : min-content 1fr min-content;
gap: 0.25rem;
height : 95vh;
}
body {font-family: "Noto Sans TC",Helvetica, Arial, sans-serif;}
a {text-decoration: none;}
p {
margin: 0;
padding: 0.25rem 0;
}
h1 {font-size: 1.25rem;margin: 0.125rem 0;}
audio {width: 100%;border-radius: 5px;}
.entry{
border-radius: 0.25rem;
margin: 0.25rem 0;
padding: 0 0.25rem;
width: 100%;
}
.entry:nth-of-type(odd) {background-color: #d5effd;}
.entry:nth-of-type(even) {background-color: #f5fbff;}
.buttonDiv {white-space: nowrap;}
.container {overflow: auto;}
.plain {
width: min-content;
/* white-space: nowrap; */
}
.linkMargin {margin: 0 0.375rem;}
.activeBtn{color:black;}
.hideBtn{color:#aaaaaa;}
.tagBorder{
background-color: lightgrey;
border-radius: 0.25rem;
padding: 0.25rem;
}
