html {
-webkit-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
font-size:18px;
}
.centerise {
max-width: 850px;
margin: 0 auto;
display: grid;
grid-template-rows : min-content 1fr min-content;
gap: 0.25rem;
height : 95vh;
}
body {font-family: "Noto Sans TC",Helvetica, Arial, sans-serif;}
span {padding: 0 0.25rem;}
a {
text-decoration: none;
margin: 0 0.25rem;
}
p {
padding: 0 0.25rem;
margin: 0.25rem 0;
}
h1 {font-size: 1.25rem;margin: 0.125rem 0;}
.entry{margin: 0.25rem 0;}
.buttonDiv {white-space: nowrap;}
.container {overflow: auto; background-color: #d5effd;}
.plain {
white-space: nowrap;
/* width: 100%; */
}
.tagBorder{
background-color: #80d0f8;
padding: 0.25rem;
border-radius: 0.5rem;
}
audio {
width: 100%;
border-radius: 5px;
}
