body {
font-size: 2rem;
font-family: Helvetica, Arial, sans-serif;
}
span {
padding: 0 0.25rem;
}
a {
text-decoration: none;
margin: 0 0.25rem;
}
p {
padding: 0 1rem;
margin: 0;
}
h1 {
margin: 0.5rem 0;
}
.entry{
margin: 1rem 0;
}
.buttonDiv {
white-space: nowrap;
}
.title {
max-width: 850px;
margin: 0.5rem auto;
}
.container {
max-width: 850px;
margin: 0 auto;
overflow: auto;
height: min-content;
max-height: 75vh;
border: 0.0625rem solid black;
}
.plain {
white-space: nowrap;
/* width: 100%; */
}
.tagBorder{
background-color: lightyellow;
padding: 0.25rem;
border-radius: 0.5rem;
}
.playerbar {
max-width: 850px;
height: min-content;
}
audio {
width: 100%;
border-radius: 5px;
}
